<!-- takes and displays information from the API calls in the route. Has buttons for adding the park to wishlist or follow.  Need to figure out how that action adds the park to those models/tables. Maybe just a yes/no column in the parks table?-->

<!-- these would each be a separate jinja loop, each with a different class to make it easy to do CSS differently for each? -->
<!-- name, img, fees, location, operating hours, description, activities (do it like {{ park.name}}) has {{ park.activity }}! ), separate call/PUT API CALL IN ROUTE: articles, separate call: campgrounds -->

{% extends 'base.html' %}

{% block content %}

<section class="section blog-single">
    <div class="container">
        <div class="row">
            <div class="col-md-10 m-auto">
                <!-- Single Park -->
                <article class="single-post">
                    <!-- park title -->
                    <div class="post-title text-center">
                        <h1>This is the page for {{ park.name }}</h1>
                        <!-- Tags -->
                        <ul class="list-inline post-tag">
                            <li class="list-inline-item">
                                <form method="POST" action="/parks/{{ park.id }}/add_favorite">
                                    <button class="btn btn-primary btn-block btn-md">add to favorites</button>
                                </form>
                            </li>
                            <li class="list-inline-item">
                                <form method="POST" action="/parks/{{ park.id }}/add_visited">
                                    <button class="btn btn-primary btn-block btn-md">add to visited</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                    <!-- Park body -->
                    <div class="post-body">
                        <!-- Feature Image -->
                        <div class="feature-image">
                            <img class="img-fluid" src="{{ park.image_url }}" alt="{{ park.image_altText }}">
                            {{ park.image_title }}
                        </div>
                        <h2>{{ park.name }} is located in lovely {{ park.town }}, {{ park.state }}</h2>
                        <!-- Paragrapgh -->
                        <p>{{ park.description }}</p>
                        <!-- Blockquote -->
                        <div class="quote">
                            <blockquote>
                                Entrance fees<br> 
                                {{ park.ent_fees_title }}: {{ park.ent_fees_cost }}<br>
                                ({{ park.ent_fees_description }})<br>
                                {{ park.ent_passes_cost }}
                                {{ park.ent_passes_description }}
                                {{ park.ent_passes_title }} <br>
                            </blockquote>
                        </div>
                        <!-- Paragrapgh -->
                        <p>Here are some activities you can do in the park:</p>
                        <div class="quote">
                            <blockquote>
                                {{ park.activity }}
                                <!-- {% for activity in activityNames %}
                                    {{ park.activity }}<br>
                                {% endfor %}     -->
                            </blockquote>
                        </div>
                        <p><b>Contact: {{ park.phone }}</b></p>
                        
                        <p>Would you like to know about the campsite options available at {{ park.name }}? <a href="/parks/campgrounds/{{ park.id }}">Find that info here!</a></p>
                        
                        <p>Find directions to the park here: <a href="{{ park.directions_url }}">{{ park.directions_url }}</a></p>

                        <p>
                            What weather might one expect to find in {{ park.name }}? Well...
{{ park.weather_info }}
                        </p>

                        <p><b>Park Hours: {{ park.hours }}</b></p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

<section class="section related-articles bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-12 title">
                <!-- Section Title -->
                <h2>Related Articles</h2>
            </div>
        </div>
        <div class="row">

            {% for article in articles %}
                <div class="col-lg-4 col-md-6">
                    <!-- Post -->
                    <article class="post-sm">
                        <!-- Post Image -->
                        <div class="post-thumb">
                            <a href="{{ article.url }}"><img class="w-100" src="{{ article.image_url }}" alt="{{ article.img_altText }}"></a>
                        </div>
                        <!-- Post Title -->
                        <div class="post-title">
                            <h3><a href="{{ article.url }}">{{ article.title }}</a></h3>
                        </div>
                        <!-- Post Details -->
                        <div class="post-details">
                            <p>{{ article.description }}</p>
                        </div>
                    </article>
                </div>
            {% endfor %}

        </div>
    </div>
</section>


{% endblock %}


<!-- need link for campgrounds page now -->
<!-- future idea - current weather display -->

