<!-- takes and displays information from the API calls in the route. Has buttons for adding the park to wishlist or follow.  Need to figure out how that action adds the park to those models/tables.-->

<!-- these would each be a separate jinja loop, each with a different class to make it easy to do CSS differently for each? -->
<!-- name, img, fees, location, operating hours, description, activities (do it like {{ park.name}}) has {{ park.activity }}! ), separate call/PUT API CALL IN ROUTE: articles, separate call: campgrounds -->




<!-- future idea - current weather display -->