<!-- at the top: links to routes for parks followed, visited, and wishlist. Below that picture cards for all the parks (for parks in parks <a href= /individual park route - this means a park id is needed at this point.and also need to know how to make the image a link. and be sure the api call is getting images, which it should. it should receive all info for national parks). -->

{% extends 'base.html' %}

{% block content %}


<section class="post-grid section pt-0">
    <div class="container">
        <div class="row">
        {% if parks %}
            {% for park in parks %}
                <div class="col-lg-4 col-md-6">
                <!-- Park -->
                <article class="post-sm">
                    <!-- park Main Image -->
                    <div class="post-thumb">
                        <a href="/parks/{{ park.id }}"><img class="w-100" src="{{ park.image_url }}" alt="{{ park.image_altText }}"></a>       
                    </div>
                    <!-- park Title -->
                    <div class="post-title">
                        <h3><a href="/parks/{{ park.id }}">{{ park.name }}</a></h3>
                    </div>

                    <!-- Park Description -->
                    <div class="post-details">
                        <p>{{ park.description }}</p>
                    </div>
                </article>
            </div>
            {% endfor %}

        {% else %}
            <h1>No parks Found</h1>
        {% endif %}
        </div>
    </div>
</section>

{% endblock %}
