<!-- at the top: links to routes for parks followed, visited, and wishlist. Below that picture cards for all the parks (for parks in parks <a href= /individual park route - this means a park id is needed at this point.and also need to know how to make the image a link. and be sure the api call is getting images, which it should. it should receive all info for national parks). -->

{% extends 'base.html' %}

{% block content %}

{% for park in park_array %}
    <a href="/parks/{{ park.id }}">{{ park.id }}</a>
    <!-- <a href="/parks/{{ park.id }}">@{{ park.id }}</a> -->
{% endfor %}



{% endblock %}