{% extends 'base.html' %}
{% block content %}
  <div class="home-hero">
    <h1>Hi there!</h1>
    <h2>Sign up for an account to start browsing through all the National Parks in the US, make wishlists, collect all the parks you've visited in one place, and get all the information you need to start planning your next trip.</h2>
    <p>Your privacy is important and we won't sell your information and all that.</p>
    <a href="/signup" class="btn btn-primary">Sign up</a>

    <h3>Already have an account? Log in here!</h3>
    <a href="/login" class="btn btn-primary">Login</a>
  </div>
{% endblock %}