{% extends 'base.html' %}
{% block content %}
  <div class="section banner-full">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 justify-content-xs-center">
          <div class="image aos-init aos-animate" data-aos="flip-right">
            <img class="img-fluid" src="/static/images/parks.jpg" alt="National Parks">
          </div>
        </div>
        <div class="col-lg-8 align-self-center">
          <div class="block">
            <h1>Hi there!</h1>
            <p>
              Sign up for an account to start browsing through all the National Parks in the US,<br> make wishlists, collect all the parks you've visited in one place,<br>and get all the information you need to start planning your next trip.
            </p>
            <br>
            <p>Your privacy is important and we won't sell your information and all that.</p>
            <ul class="list-inline app-badge">
              <li class="list-inline-item">
                <a href="/signup" class="btn btn-rounded-icon"><i class="ti-plus"></i>
                Sign up</a>
              </li>
              <li class="list-inline-item">
                <a href="/login" class="btn btn-rounded-icon"><i class="ti-user"></i>
                Login</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}