{% extends 'base.html' %}

{% block body_class %}onboarding{% endblock %}

{% block content %}


  <section class="user-login section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="block">
            <!-- Image -->
            <div class="image align-self-center"><img class="img-fluid" src="/static/images/mountain.png" alt="National Parks">
            </div>
            <!-- Content -->
            <div class="content text-center">
              <div class="logo">
                <a href="index.html"><img src="images/logo.png" alt=""></a>
              </div>
              <div class="title-text">
                <h3>Join the National Parks Databse right here, right now.</h3>
              </div>
              <form method="POST" id="user_form">
                {{ form.hidden_tag() }}

                {% for field in form if field.widget.input_type != 'hidden' %}
                  {% for error in field.errors %}
                    <span class="text-danger">{{ error }}</span>
                  {% endfor %}
                  {{ field(placeholder=field.label.text, class="form-control main") }}
                {% endfor %}

                <!-- Submit Button -->
                <button class="btn btn-main-md">Sign me up!</button>
              </form>
              <div class="new-acount">
                <p>Anready have an account? <a href="/login.html">SIGN IN</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}