<!-- displays all parks that are part of the favorites model, and links to each individual park page -->

{% extends 'base.html' %}

{% block content %}

{% if favorites %}
    <section class="section page-title">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 m-auto">
                    <!-- Page Title -->
                    <h1>Your Favorite Parks</h1>
                    <!-- Page Description -->
                    <p>Here are the parks you added in your favorites list:</p>
                </div>
            </div>
        </div>
    </section>

    <section class="job-list section pt-0">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-10 m-auto">
                    <div class="block">
                        <div class="title text-center">
                            <h2>Favorite Parks List</h2>
                        </div>
                        {% for favorited_park in favorites %}
                            <!-- parks List -->
                            <div class="job">
                                <div class="content">
                                    <!-- Park Title -->
                                    <h3>{{favorited_park.park.name}}</h3>
                                    <!-- Location -->
                                    <p>{{ favorited_park.park.town }}, {{ favorited_park.park.state }}</p>
                                </div>
                                <!-- View Button -->
                                <div class="apply-button">
                                    <form method="POST" action="/users/{{ favorited_park.park.id }}/remove-favorite">
                                        <button href="#" class="btn btn-danger">Remove From Favorites</button>
                                    </form>
                                </div>
                                <div class="apply-button">
                                    <a href="/parks/{{ favorited_park.park.id }}" class="btn btn-main-sm">View {{ favorited_park.park.name }}</a>
                                </div>
                            </div>
                        {% endfor %}
                        <a class="mt-3 btn btn-main-md" href="/parks">Back to main parks page</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% else %}
    <section class="section page-title">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 m-auto">
                    <h1>You have not favorited any parks</h1>
                </div>
            </div>
        </div>
    </section>
    {% endif %}                
{% endblock %}
